@model prjMovieHolic.Models.TShortCmt

@{
    ViewData["Title"] = "MovieHolic 編輯短評";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<!-- Bootstrap ICONS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="~/css/star-rating.css" />
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/myStyle.css">
<style>
    .left {
        margin-top: 80px;
    }

    .container {
        width: 880px;
    }

</style>
}

<div class="myBr"></div>
<h4>編輯短評</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FCmtid" />
            <input type="hidden" asp-for="FMovieId" />
            <input type="hidden" asp-for="FMemberId" />
            <input type="hidden" asp-for="FCreatedTime" />
            <input type="hidden" asp-for="FVisible" />
            <div class="form-group">
                <label style="font-size:20px;">電影名稱：@ViewData["FMovieName"]</label>
            </div>
            <div class="myBr"></div>
            <div class="form-group">
                <label>評分：</label>
                <span class="gl-star-rating gl-star-rating--ltr" data-star-rating="">
                    <select id="glsr-ltr" class="FRate" name="FRate">
                        <option value="">請選擇</option>
                        @{
                            for (int i = 5; i > 0; i--)
                            {
                                if (Model.FRate == i)
                                {
                                    <option value="@i" selected>@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }
                            }
                        }
                    </select><span class="gl-star-rating--stars s0" role="tooltip" data-rating="0"
                                   aria-label="Select a Rating">
                        <span data-index="0" data-value="1"></span><span data-index="1"
                                                                         data-value="2"></span><span data-index="2" data-value="3"></span><span data-index="3"
                                                                                                                                                data-value="4"></span><span data-index="4" data-value="5"></span>
                    </span>
                </span>
            </div>
            <div class="myBr"></div>
            <div class="form-group">
                <label class="control-label">評論內容：</label>
                <input asp-for="FTitle" class="form-control col-10" />
                <span asp-validation-for="FTitle" class="text-danger"></span>
            </div>
            <div class="myBr"></div>
            <div class="form-group">
                <input type="submit" value="儲存" class="ourButton" style="height:30px;line-height:30px;" />
                <button type="button" class="ourButton" style="width:140px;margin-left:10px;height:30px;line-height:30px;" onclick='location.href="/movieFront/movieDetails/@Model.FMovieId"'>回電影介紹</button>
                @*<button type="button" class="btn btn-outline-danger" onclick='location.href="/ShortCmts/delete/@Model.FCmtid"'>刪除</button>*@
                <!-- Button trigger modal -->
                <button type="button" class="ourButton" style="background-color:brown;margin-left:10px;height:30px;line-height:30px;" data-bs-toggle="modal" data-bs-target="#ConfirmDeleteModal">刪除</button>
            </div>
            <div class="myBr"></div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ConfirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">移除短評</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                確定要移除這則短評？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmBtn">確定</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!--ModalDeleteSuccess-->
<div class="modal fade" id="deleteSuccess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">移除短評</h5>
            </div>
            <div class="modal-body">
                移除成功！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick='location.href="/movieFront/movieDetails/@Model.FMovieId"'>確定</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="~/js/star-rating.js"></script>
    <script>
        //星星評分控制項
        // var destroyed = false;
        var starratingPrebuilt = new StarRating('.FRate', {
            prebuilt: true,
            clearable: false,
            maxStars: 5,
        });
    </script>
    <script>
        //刪除對話窗
        //const deleteConfirmed = document.getElementById("deleteConfirmed");
        const ConfirmDeleteModal = document.getElementById("ConfirmDeleteModal")
        const confirmBtn = ConfirmDeleteModal.querySelector('#confirmBtn');
        const deleteSuccess = document.getElementById("deleteSuccess");
       
        confirmBtn.addEventListener("click", function () {
            console.log("deleteCmt(@Model.FCmtid)");
            $('#ConfirmDeleteModal').modal('hide');
            deleteCmt(@Model.FCmtid);
        });
        function deleteCmt(id){
            $.ajax({
                url: '/shortCmts/remove',
                type: 'POST',
                data: {id:id},
                success: function (response) {
                    console.log(response)
                    if (response.success == true) {
                        alert("移除成功！");
                        window.location.href="/moviefront/moviedetails/@Model.FMovieId";
                    }
                    else {
                        alert(response.error)
                    }

                },
                error: function (xhr, status, error) {
                    // 處理錯誤的程式碼
                    alert('error')
                }
            });
        
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
