@model IEnumerable<prjMovieHolic.Models.TShortCmt>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<!-- Bootstrap ICONS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FCreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FEditedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FVisible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FMovie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FCreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FEditedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FVisible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FMember.FMemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FMovie.FId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FCmtid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FCmtid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FCmtid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
