@model IEnumerable<prjMovieHolic.Models.TShortCmt>

@{
    ViewData["Title"] = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movie</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FCreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FEditedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FVisible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FMember.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FMovie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FCreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FEditedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FVisible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FMember.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FMovie.FNameCht)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FCmtid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FCmtid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FCmtid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
