@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model prjMovieHolic.ViewModels.CListOrderDetailsViewModel
@{
    ViewData["Title"] = "MovieHolic快速訂票";
}

@section Styles{
    <style>
        .IamDialog {
            width: 500px;
            height: 200px;
            border-radius: 15px;
            margin: auto auto; /*婷婷*/
        }

            .IamDialog p {
                color: #999;
                font-size: 24px;
                margin-top: 30px;
                text-align: center;
            }

            .IamDialog::-webkit-scrollbar {
                background: transparent;
                width: 6px;
                height: 6px;
                border-radius: 5px;
            }

            .IamDialog::-webkit-scrollbar-thumb {
                background-color: silver;
                border-radius: 5px;
            }

        .closeDialog {
            border-radius: 5px;
            color: azure;
            width: 100px;
            height: 40px;
            background-color: #10a5d6;
            margin-top: 30px;
            margin-left: 190px;
        }

        .closeDialog:hover {
            cursor: pointer; /*婷婷*/
            color: #eaeaea; /*婷婷*/
            background-color: #105190; /*婷婷*/
        }

        /*下面for訂單提示對話框*/
        .IamDialog1 {
            width: 850px;
            height: 600px;
            border-radius: 15px;
            margin: auto auto; /*婷婷*/
        }

            .IamDialog1 p {
                color: #999;
                font-size: 24px;
                margin-top: 30px;
                text-align: center;
            }

            .IamDialog1::-webkit-scrollbar {
                background: transparent;
                width: 6px;
                height: 6px;
                border-radius: 5px;
            }

            .IamDialog1::-webkit-scrollbar-thumb {
                background-color: silver;
                border-radius: 5px;
            }
        
        .closeDialog1 {
            border-radius: 5px;
            color: azure;
            width: 100px;
            height: 40px;
            background-color: grey;
            margin-top: 30px;
            margin-left: 170px;
            display:inline;
        }

        .closeDialog2 {
            border-radius: 5px;
            color: azure;
            width: 100px;
            height: 40px;
            background-color: #10a5d6;
            margin-top: 30px;
            margin-left: 200px;
            display: inline;
        }

        .closeDialog2:hover {
            cursor: pointer; /*婷婷*/
            color: #eaeaea; /*婷婷*/
            background-color: #105190; /*婷婷*/
        }

        .dialogDiv{
            font-size:24px;
            text-align:left;
            color:black;
            line-height:28px
        }


        .dialogDiv h3{
            font-size: 30px;
            text-align: left;
            color: black;
            margin-top:20px;
            margin-bottom: 0px
        }

    </style>
}
<div id="page2">
    <div class="body1">
        <div class="">
            <div class="body3">
                <div class="main">
                    <!-- content -->
                    <section id="content">
                        <div class="wrapper">
                            <!--步驟圈圈在這裡-->
                            <div class="orderStep">
                                <ul>
                                    <li class="liInOrderstep">選擇時段</li>
                                    <li><img src="~/images/menu_marker.png" alt=""></li>
                                    <li class="liInOrderstep">選擇票種</li>
                                    <li><img src="~/images/menu_marker.png" alt=""></li>
                                    <li class="liInOrderstep">選擇座位</li>
                                    <li><img src="~/images/menu_marker.png" alt=""></li>
                                    <li class="liInOrderstep">配餐選擇</li>
                                    <li><img src="~/images/menu_marker.png" alt=""></li>
                                    <li class="liInOrderstephere">送出訂單</li>
                                </ul>
                            </div>
                            <!--這裡開始訂票-->
                            <h4 class="orderBoxH4">@Model.selectedMovieName</h4>
                            <p class="orderBoxP">@Model.selectedMoviEngeName</p>
                            <div class="orderBox">
                                <div>
                                    <figure>
                                        <img class="orderMovieImage" src="../@Model.selectedMoviePoster" alt="">
                                    </figure>
                                </div>
                                <div class="pick">
                                    <div class="alreadyOrder">
                                        <h3>訂單內容</h3>
                                        <ul>
                                            <li><span>時　　間</span>@Model.selecteDate</li>
                                            <li><span>影　　廳</span>@Model.theaterName</li>
                                            <li><span>票種張數</span>@Model.tickets</li>
                                            @{
                                                string seat = "";
                                                foreach (var item in Model.seats)
                                                    seat += item + ",";
                                                if (seat.Substring(seat.Length - 1) == ",")
                                                    seat = seat.Substring(0, seat.Length - 1);
                                            }
                                            <li><span>座　　位</span>@seat</li>
                                            @{
                                                string set = "";
                                                if (Model.set.Count == 0)
                                                    set = "無";
                                                foreach (var item in Model.set)
                                                {
                                                    set += item + "、";
                                                }
                                                if (set.Substring(set.Length - 1) == "、")
                                                    set = set.Substring(0, set.Length - 1);
                                            }
                                            <li><span>套餐項目</span>@set</li>
                                            <li>
                                                <span>支付方式</span>
                                                <input type="radio" name="paymentType" value="cash">
                                                <label for="cash">現金</label>
                                                <input type="radio" name="paymentType" value="creditCard">
                                                <label for="creditcard">信用卡</label>
                                            </li>
                                            <li><span class="labUsingCoupon">使用優惠</span><input id="txtUsingCoupon" class="txtUsingCoupon" type="text"><input class="btnGoToCoupon" type="button" id="btnGoToCoupon" value="查看優惠"></li>
                                            <li><span>總　　價</span><span>NT$<span id="totalPrice">@Model.totalPrice</span></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <button class="button toRight" id="nextStep">送出</button>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<dialog id="IamDialog" class="IamDialog">
    @{
        if (@Model.CouponList.Count > 0)
        {
            foreach (var item in Model.CouponList)
            {
                <div class="coupon">
                    <div class="couponName">
                        <img src="~/images/icons8-coupon-64.png" alt="">
                        <p>MovieHolic</p>
                    </div>
                    <div class="couponDetail">
                        <div>
                            <h3>@item.FCouponType.FCouponDiscount 折</h3>
                            <h4>結帳立即享有 @item.FCouponType.FCouponDiscount 折</h4>
                            <h5>@item.FCouponType.FCouponTypeName 特惠</h5>
                            <h6>有效日期：@item.FCouponType.FCouponDueDate.ToString().Substring(0,9)</h6>
                        </div>
                        <div class="couponRule">
                            <a href="">使用規則</a><hr><hr><hr><hr><hr><hr />
                            <a id="@item.FCouponId" name="@item.FCouponType.FCouponDiscount" onclick="chooseCoupon(event)">立即使用 > </a>
                        </div>
                    </div>

                </div>
            }
        }
        else
        {
            <p>無可使用的優惠券</p>
        }

    }
    <button id="closeDialog" class="closeDialog">關閉</button>
</dialog>

<dialog id="anotherDialog" class="IamDialog">
    <p id="dialogParagraph"></p>
    <button id="confirm" class="closeDialog">關閉</button>
</dialog>

<dialog id="OrderCheckDialog" class="IamDialog1">
    <div id="dialogDiv" class="dialogDiv"></div>
    <br>
    <hr>
    <div style="justify-content: center;align-items:center;display: flex;">
        <input type="checkbox" id="orderCheckBox" style="width:20px;height:20px" /><span style="font-size:20px">我已閱讀並同意上述訂票規定</span>
    </div>
    <button id="confirmOrder" class="closeDialog1" disabled>確認</button>
    <button id="cancel" class="closeDialog2">關閉</button>
</dialog>

@section Scripts{
    <script>
        const nextStep = document.querySelector('#nextStep');

        const formdialog = document.getElementById('IamDialog');
        const btnCloseDialog = document.getElementById('closeDialog');
        const btnGoToCoupon = document.getElementById('btnGoToCoupon');
        const txtUsingCoupon = document.getElementById('txtUsingCoupon');

        const anotherDialog = document.getElementById('anotherDialog');
        const confirm = document.getElementById('confirm');
        const dialogParagraph = document.getElementById('dialogParagraph');

        const totalPrice = document.querySelector('#totalPrice');
        let couponID;

        const radioBtns = document.getElementsByName('paymentType');

        const OrderCheckDialog = document.getElementById('OrderCheckDialog');
        const dialogDiv = document.getElementById('dialogDiv');
        const confirmOrder = document.getElementById('confirmOrder');
        const cancel = document.getElementById('cancel');
        const orderCheckBox = document.getElementById('orderCheckBox');

        btnGoToCoupon.addEventListener('click', () => {
            formdialog.showModal();
            btnCloseDialog.addEventListener('click', () => {
                formdialog.close();
            })
        })

        nextStep.addEventListener('click', async () => {
            const radioBtnValue = await checkSelectedRadioBtn();
            if (radioBtnValue == 'notSelectPayment') {
                dialogParagraph.innerHTML = '尚未選擇付款方式';
                anotherDialog.showModal();
                confirm.addEventListener('click', () => {
                    anotherDialog.close();
                })
            }
            else {
                let Checked = await orderChecked();
                

                if (Checked) {

                    const response = await fetch('@Url.Content("~/OrderFront/SaveOrdertoDBandSendEmail")?totalprice=' + totalPrice.innerHTML + '&couponID=' + Number(couponID) + '&paymentType=' + radioBtnValue);
                    const data = await response.text();
                    if (data == '儲存成功') {
                        dialogParagraph.innerHTML = '訂票成功，已將訂單明細寄到您的信箱';
                        anotherDialog.showModal();
                        confirm.addEventListener('click', () => {
                            anotherDialog.close();
                            window.location.replace('@Url.Content("~/memberFront/orderList")');
                        })
                    }
                    else {
                        dialogParagraph.innerHTML = '網路不穩，請稍後再試';
                        anotherDialog.showModal();
                        confirm.addEventListener('click', () => {
                            anotherDialog.close();
                        })
                    }
                }
            }
        })

        orderCheckBox.addEventListener('change', ()=>{
            if(orderCheckBox.checked)
            {
                confirmOrder.removeAttribute('disabled');
                confirmOrder.style.backgroundColor='#10a5d6';
                confirmOrder.addEventListener("mouseover", handleHover);
                confirmOrder.addEventListener("mouseout", handleHover);
            }
            else{
                confirmOrder.setAttribute('disabled',true);
                confirmOrder.style.backgroundColor = 'grey';
                confirmOrder.removeEventListener("mouseover", handleHover);
                confirmOrder.removeEventListener("mouseout", handleHover);
            }
        })

        function handleHover(event) {
            if (event.type === "mouseover") {
                confirmOrder.style.backgroundColor= '#105190';
                confirmOrder.style.cursor='pointer';
            } 
            else if (event.type === "mouseout") {
                confirmOrder.style.backgroundColor = '#10a5d6';
                confirmOrder.style.cursor='default';
            }
        }

        function orderChecked() {
            return new Promise((resolve, reject) => {

                dialogDiv.innerHTML = '<h3 style="font-size:28px">訂票及取票規定</h3></br>';;
                dialogDiv.innerHTML += '1. 每張訂票皆會收取NT$20之訂票手續費，於訂購場次開演前可至影城櫃台取票。</br>';;
                dialogDiv.innerHTML += '2. 依據統一發票使用辦法第四條第二十七款規定，娛樂業之門票（電影票）收入可免開發票，以票根作為購票證明。</br>';
                dialogDiv.innerHTML += '<h3 style="font-size:28px">退票規定</h3></br>';;
                dialogDiv.innerHTML += '1. 依影城規定於訂購場次開演的30分鐘前，可線上或影城現場櫃檯辦理取消訂票。</br>';
                dialogDiv.innerHTML += '2. 於時限內辦理取消訂票，將線上退還票款，但訂票手續費依影城規定恕不退還。</br>';
                dialogDiv.innerHTML += '3. 如欲線上更改數量或更換座位，僅能線上整筆取消後再重新訂位，以利取消持卡人刷卡授權或進行原消費退款。</br>';
                dialogDiv.innerHTML += '4. 如至影城取票後退票或是訂多取少，依影城規定仍須收取訂票手續費；請持原電影票辨理，電影票遺失恕不補發，亦無法辦理退換票。</br>';
                dialogDiv.innerHTML += '5. 未辦理取消、退票或逾時未取票，將不退還該筆金額，影城將全額扣款，恕不得要求退款或更改其他場次時間。';

                OrderCheckDialog.showModal(); 

                confirmOrder.addEventListener('click', () => {
                    OrderCheckDialog.close();
                    resolve(true); 
                });

                cancel.addEventListener('click', () => {
                    OrderCheckDialog.close();
                    resolve(false); 
                });

            });
        }

        function chooseCoupon(event) {
            couponID = event.target.getAttribute('id');
            const couponTypeName = event.target.getAttribute('name');
            txtUsingCoupon.value = couponTypeName + '折';

            let total = totalPrice.innerHTML
            total = (Number(couponTypeName) * total / 100).toFixed();
            totalPrice.innerHTML = total;
            formdialog.close();
        }

        function checkSelectedRadioBtn() {
            for (const radioBtn of radioBtns) {
                if (radioBtn.checked)
                    return (radioBtn.value);
            }
            return 'notSelectPayment';
        }
    </script>
    }