@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model prjMovieHolic.ViewModels.CListSessionViewModel
@{
    ViewData["Title"] = "MovieHolic快速訂票";
}
@section Styles{
    <style>
        .day {
            border: solid
        }

    /*    .ccc {
            border: solid
        }*/

        .chooseTime {
            border-bottom: 1px solid silver;
            width: 430px;
            overflow: auto;
        }

            .chooseTime::-webkit-scrollbar {
                background: transparent;
                height: 6px;
            }

            .chooseTime::-webkit-scrollbar-thumb {
                background-color: silver;
            }

            .chooseTime li {
                width: 70px;
                height: 20px;
                text-align: center;
                cursor: pointer;
                font-size:26px /*婷婷*/
            }

                .chooseTime li:hover {
                    background-color: #10a5d6;
                    color: #eaeaea;
                }

        .pickDate {
            display: flex;
            border-bottom: 1px solid silver;
            margin-left: 30px;
            overflow: auto;
            max-height: 150px;
            max-width: 430px;
        }

            .pickDate::-webkit-scrollbar {
                background: transparent;
                height: 6px;
            }

            .pickDate::-webkit-scrollbar-thumb {
                background-color: silver;
            }

            .pickDate li {
                border: 1px solid silver;
                padding: 5px;
                margin-right: 15px;
                margin-bottom: 5px;
                font-size: 22px; /*婷婷*/
                height: 40px;
                width: 90px;
                text-align: center;
            }

                .pickDate li:hover {
                    background-color: #10a5d6;
                    color: #eaeaea;
                }

            .pickDate a {
                text-decoration: none;
                cursor: pointer;
                /*滑鼠手手回來了*/
            }

    </style>
}

<div id="page2">
    <div class="body1">
        <div class="">
            <div class="body3">
                <div class="main">
                    <!-- content -->
                    <section id="content">
                        <div class="wrapper">
                            <!--步驟圈圈在這裡-->
                            <div class="orderStep">
                                <ul>
                                    <li class="liInOrderstephere">選擇時段</li>
                                    <li><img src="~/images/menu_marker.png" alt=""></li>
                                    <li class="liInOrderstep">選擇票種</li>
                                    <li><img src="~/images/menu_marker.png" alt=""></li>
                                    <li class="liInOrderstep">選擇座位</li>
                                    <li><img src="~/images/menu_marker.png" alt=""></li>
                                    <li class="liInOrderstep">配餐選擇</li>
                                    <li><img src="~/images/menu_marker.png" alt=""></li>
                                    <li class="liInOrderstep">送出訂單</li>
                                </ul>
                            </div>
                            <!--這裡開始訂票-->
                            <h4 class="orderBoxH4">@Model.MovieName</h4>
                            <p class="orderBoxP"> @Model.tMovie.FNameEng</p>
                            <div class="orderBox">
                                <div>
                                    <figure>
                                        <input type="hidden" id="movieID" value="@Model.MovieID" />
                                        <img class="orderMovieImage" src="../@Model.tMovie.FPosterPath" alt="">
                                        <ul>                                      
                                            <li style="font-size:20px;padding-top:3px"><span style="font-weight:bold">片長</span>  @Model.tMovie.FShowLength 分鐘</li>
                                            <li style="font-size:20px;padding-top:3px"><span style="font-weight:bold">類型</span>@Model.TypeListNames</li>
                                            <li style="font-size:20px;padding-top:3px"><span style="font-weight:bold">導演</span>@Model.DirectorListNames</li>
                                            <li style="font-size:20px;padding-top:3px"><span style="font-weight:bold">演員</span>@Model.ActorListNames</li>
                                        </ul>
                                    </figure>
                                </div>
                                <div class="pick">
                                    <div>
                                        <ul class="pickDate">
                                        @{
                                              for (int i = 0; i < 7; i++)
                                              {
                                                  string showDay = $"day{i + 1}";
                                                  <a>
                                                  <li id="@showDay" class="day">@Model.tMovie.TSessions.Where(s=>s.FStartTime.Date>DateTime.Now).FirstOrDefault().FStartTime.Date.AddDays(i).ToString("MM/dd")<br>@Model.weekDays[i]</li>
                                                  </a>
                                             }
                                        }

                                        </ul>
                                    </div>
                                    <div class="pickCinemaAndTime" id="pickCinemaAndTime">
                                        <div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="button toRight" id="nextStep">下一步</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<dialog id="IamDialog" class="IamDialog">
    <p>尚未選場次</p>
    <button id="closeDialog"  class="closeDialog">確認</button>
</dialog>

@section Scripts{
    <script>

        const movieID = document.querySelector('#movieID');
        const pickCinemaAndTime = document.querySelector('#pickCinemaAndTime');
        const nextStep = document.querySelector('#nextStep');
        const days = document.querySelectorAll('.day');
   
        const formdialog = document.getElementById('IamDialog');
        const btnCloseDialog = document.getElementById('closeDialog');

        chooseFirstDay();
        async function chooseFirstDay()
        {
            const day1=document.querySelector('#day1');
            day1.style.backgroundColor = '#10a5d6';
            day1.style.color = '#eaeaea';

            //抓第一天場次
            const response = await fetch('@Url.Content("~/OrderFront/queryByDate")?date=' + day1.innerHTML + '&movieID=' + movieID.value);
            const datas = await response.json();
            let result=showSession(datas);
            pickCinemaAndTime.innerHTML=result;
        }

        days.forEach((day) => {
            
            day.addEventListener('click', async () => {
                //改顏色               
                days.forEach((allDays)=>{
                allDays.style.backgroundColor = '#eaeaea';
                allDays.style.color = '#10a5d6';
                })

                const elementID=day.getAttribute('id');
                const element=document.querySelector(`#${elementID}`);
                element.style.backgroundColor ='#10a5d6';
                element.style.color = '#eaeaea';

                //呈現場次
                const response = await fetch('@Url.Content("~/OrderFront/queryByDate")?date=' + day.innerHTML+'&movieID='+movieID.value);
                const datas = await response.json();
                const result=showSession(datas);
                
                pickCinemaAndTime.innerHTML = result
            })
         })

         function showSession(datas){
            let result = `<div>`;
            datas.forEach((data) => {
                console.log(data);
                result += `<h3>${data["theaterName"]}</h3><ul class="chooseTime">`;
                data["sessionIDandTimeandLeftSeats"].split(",").forEach(item => {
                    let sessionID = item.split("##")[0];
                    let sessionTime = item.split("##")[1];
                    let leftSeats=  item.split("##")[2];
                    result += `<li name="${sessionID}" class="ccc" title="剩餘座位：${leftSeats}個" " onclick="chooseSession(event)">${sessionTime}</li>`;
                })

                result += `</ul>`
            })
            result += `</div>`;
            return result;
         }

        
         async function chooseSession(event)
         {   
            //將ID存入Session
            const response = await fetch('@Url.Content("~/OrderFront/SaveSelectedSessionID")?sessionID=' + event.target.getAttribute('name'));
            const info=await response.text();
            if(info==='Success')
            {
                const sessionBtns = document.querySelectorAll('.ccc');
                sessionBtns.forEach((item)=>{
                item.style.backgroundColor = '#eaeaea';
                item.style.color='black';
                })
                event.target.style.backgroundColor = '#10a5d6';
                event.target.style.color='#eaeaea';
            }
         }

         nextStep.addEventListener('click',async()=>{
            const response = await fetch('@Url.Content("~/OrderFront/checkSessionSelected")');
            const info = await response.text();
            if(info=='有選到場次')
                window.location.replace('@Url.Content("~/OrderFront/ListTicketClass")');
            else{ 
                formdialog.showModal();
                btnCloseDialog.addEventListener('click', () => {
                    formdialog.close();
                })
            }
            
         })


         //移除原先title樣式
        document.addEventListener('DOMContentLoaded', function () {
            var listItems = document.querySelectorAll('ccc');
            listItems.forEach(function (item) {
                item.addEventListener('mouseenter', function () {
                    this.removeAttribute('title');
                });
            });
        });

    </script>
}