@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model prjMovieHolic.ViewModels.CShoppingCartViewModel
@section Styles{
    <style>
        .day {
            border: solid
        }

        .ccc {
            border: solid
        }
    </style>
}
<div id="page2">
    <div class="body1">
        <div class="">
            <div class="body3">
                <div class="main">
                    <!-- content -->
                    <section id="content">
                        <div class="wrapper">
                            <!--步驟圈圈在這裡-->
                            <div class="orderStep">
                                <ul>
                                    <li class="liInOrderstephere">選擇時段</li>
                                    <li><img src="~/images/menu_marker.png" alt=""></li>
                                    <li class="liInOrderstep">選擇票種</li>
                                    <li><img src="~/images/menu_marker.png" alt=""></li>
                                    <li class="liInOrderstep">選擇座位</li>
                                    <li><img src="~/images/menu_marker.png" alt=""></li>
                                    <li class="liInOrderstep">配餐選擇</li>
                                    <li><img src="~/images/menu_marker.png" alt=""></li>
                                    <li class="liInOrderstep">送出訂單</li>
                                </ul>
                            </div>
                            <!--這裡開始訂票-->
                            <div class="orderBox">
                                <div>
                                    <figure>
                                        <h4>@Model.tMovie.FNameCht</h4>
                                        <img class="orderMovieImage" src="~/images/aaa.jpg" alt="">
                                        <ul>
                                            <li style="padding-top:10px"><span style="font-weight:bold;font-size:20px">英文</span> @Model.tMovie.FNameEng</li>
                                            <li style="font-size:20px;padding-top:3px"><span style="font-weight:bold">片長</span>  @Model.tMovie.FShowLength 分鐘</li>
                                            <li style="font-size:20px;padding-top:3px"><span style="font-weight:bold">類型</span>@Model.TypeListNames</li>
                                            <li style="font-size:20px;padding-top:3px"><span style="font-weight:bold">導演</span>@Model.DirectorListNames</li>
                                            <li style="font-size:20px;padding-top:3px"><span style="font-weight:bold">演員</span>@Model.ActorListNames</li>
                                        </ul>
                                    </figure>
                                </div>
                                <div class="pick">
                                    <div>
                                        <ul class="pickDate">
                                        @{
                                              for (int i = 0; i < 5; i++)
                                              {
                                                  string showDay = $"day{i + 1}";
                                                  <a>
                                                  <li id="@showDay" class="day">@Model.tMovie.TSessions.FirstOrDefault().FStartTime.Date.AddDays(i).ToString("MM/dd")<br>@Model.weekDays[i]</li>
                                                  </a>
                                             }
                                        }

                                        </ul>
                                    </div>
                                    <div class="pickCinemaAndTime" id="pickCinemaAndTime">
                                        <div>
                                            <h3>1廳</h3>
                                            <ul class="chooseTime">
                                                <li><a href="">10:30</a></li>
                                                <li><a href="">13:10</a></li>
                                                <li><a href="">16:20</a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h3>2廳</h3>
                                            <ul class="chooseTime">
                                                <li><a href="">10:30</a></li>
                                                <li><a href="">13:10</a></li>
                                                <li><a href="">16:20</a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h3>3廳</h3>
                                            <ul class="chooseTime">
                                                <li><a href="">10:30</a></li>
                                                <li><a href="">13:10</a></li>
                                                <li><a href="">16:20</a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h3>4廳</h3>
                                            <ul class="chooseTime">
                                                <li><a href="">10:30</a></li>
                                                <li><a href="">13:10</a></li>
                                                <li><a href="">16:20</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="~/OrderFront/ListTicketClass" class="button toRight" id=" nextStep">下一步</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
  
        const pickCinemaAndTime = document.querySelector('#pickCinemaAndTime');
        const nextStep = document.querySelector('#nextStep');
        const days = document.querySelectorAll('.day');

        days.forEach((day) => {
            
            day.addEventListener('click', async () => {
                //改顏色
                
                days.forEach((allDays)=>{
                allDays.style.backgroundColor = '#eaeaea';
                    allDays.style.color = '#10a5d6';
                })

                const elementID=day.getAttribute('id');
                const element=document.querySelector(`#${elementID}`);
                element.style.backgroundColor ='#10a5d6';
                element.style.color = '#eaeaea';


                //呈現場次
                const response = await fetch('@Url.Content("~/OrderFront/queryByDate")?date=' + day.innerHTML)
                const datas = await response.json();
                //console.log(datas);

                let result = `<div>`;
                datas.forEach((data) => {
                    result += `<h3>${data["theaterName"]}</h3><ul class="chooseTime">`;
                    data["sessionIDandTime"].split(",").forEach(item => {
                        let sessionID = item.split("##")[0];
                        //console.log(item.split("##")[0])
                        let sessionTime = item.split("##")[1];
                        //console.log(item.split("##")[1])
                        result += `<li name="${sessionID}" onclick="chooseSession(event)" class="ccc">${sessionTime}</li>`
                    })

                    result += `</ul>`
                })
                result += `</div>`;
                //console.log(result);
                pickCinemaAndTime.innerHTML = result
            })

         })

        
         async function chooseSession(event)
         {   
            //將ID存入Session
            const response = await fetch('@Url.Content("~/OrderFront/SaveSelectedSessionID")?sessionID=' + event.target.getAttribute('name'));
            const info=await response.text();
            if(info==='Success')
            {
                const sessionBtns = document.querySelectorAll('.ccc');
                sessionBtns.forEach((item)=>
                {
                item.style.backgroundColor = '#eaeaea';
                })
            event.target.style.backgroundColor = '#10a5d6';
            }

         }

    </script>
}