@model prjMovieHolic.ViewModels.CMovieAndMemberViewModel

@{
    ViewData["Title"] = "favoriteList";
}

<style>
    .favoriteNull {
        font-size: 20px;
        text-align: center;
        color: #8E8E8E;
        line-height: 80px;
    }

    .favoriteNullUsed {
        width:180px;
        font-size: 15px;
        text-align: center;
        text-decoration: underline;
        color: #9D9D9D;
        flex-wrap:wrap
    }

    .movieCardBig3 {
        width: 200px;
        padding: 5px;
        margin: 5px;
    }
    .heart{
        color: #CE0000;
    }
</style>


<div id="page2">
    <div class="body1">
        <div class="body3">
            <div class="main">
                <!-- content -->
                <section id="content">
                    <div class="line1 wrapper">
                        <div class="wrapper tabs memCut">
                            <article class="memberMenu">
                                <h3 class="welcome">歡迎，@Model.Member.FName</h3>
                                <hr />
                                <div class="pad">
                                    <ul class="nav">
                                        <li>@Html.ActionLink("會員資料", "memberList","memberFront",new {id=Model.Member.FMemberId},null)</li>
                                        <li>@Html.ActionLink("資料修改", "memberEdit","memberFront",new { id=Model.Member.FMemberId },null)</li>
                                        <li>@Html.ActionLink("更改密碼", "passwordEdit","memberFront",new { id=Model.Member.FMemberId },null)</li>
                                        <li>@Html.ActionLink("訂單查詢", "orderList","memberFront",new { id=Model.Member.FMemberId },null)</li>
                                        <li class="selected"><a>我的收藏</a></li>
                                        <li>@Html.ActionLink("我的優惠券", "couponList","memberFront",new { id=Model.Member.FMemberId },null)</li>
                                        <li>@Html.ActionLink("我的評論", "commentList","memberFront",new { id=Model.Member.FMemberId },null)</li>
                                        <li>@Html.ActionLink("登出", "memberLogout","memberFront",null,new{onclick="return confirm('確認要登出嗎?')"})</li>
                                    </ul>
                                </div>
                            </article>



                            <div class="orderList overflowXHidden overflowYHidden">
                                <div class="momberPageTitle"><h3>我的收藏</h3></div>
                                <div class="tabPlace">
                                    <!-- TAB1 打包區塊 start -->
                                    <input id="tab1" type="radio" name="tab" checked="checked" />
                                    <label for="tab1">現正熱映</label>
                                    <div class="tab_content">
                                        <div class="likeMovie">
                                            @{
                                                if (Model.MemberActionNow.Count > 0)
                                                {
                                                    @foreach (var item in Model.MemberActionNow)
                                                    {
                                                        <div class="movieCardBig2">
                                                            <article class="movieCard">
                                                                <a href="/MovieFront/MovieDetails?id=@item.FMovieId">
                                                                    <br>
                                                                    <figure>
                                                                        <img src="~/@item.FMovie.FPosterPath" alt="">
                                                                    </figure>
                                                                    <div>
                                                                        <h3 class="moviecardH3">@item.FMovie.FNameCht</h3>
                                                                        <ul>
                                                                            <li class="movieEnglishName">@item.FMovie.FNameEng</li>
                                                                            <hr>
                                                                            <li>上映日期：@item.FMovie.FScheduleStart.ToString("yyyy/MM/dd")</li>
                                                                            <li>片長：@item.FMovie.FShowLength 分鐘</li>
                                                                        </ul>
                                                                    </div>
                                                                </a>
                                                            </article>
                                                            <div class="likeAndBuy">

                                                                <div><a class="buyNow" href="@Url.Action("ListSession", "OrderFront",new{movieID=item.FMovieId})">Buy Now</a></div>
                                                                <div>
                                                                    <p id="heart" style="color:#FF2D2D" onclick="cancelFavorite()" data-movie-id="@item.FMovieId">❤</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="movieCardBig3">
                                                        <div>
                                                            <h3 class="favoriteNull"></h3>
                                                            <h5 class="favoriteNullUsed"></h5>
                                                        </div>
                                                    </div>
                                                    <div class="movieCardBig3">
                                                        <div>
                                                            <h3 class="favoriteNull">尚無收藏電影</h3>

                                                            <h5 class="favoriteNullUsed">快將喜歡的電影加入收藏！</h5>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                           
                                          
                                        </div>


                                    </div>
                                    <!-- TAB1 打包區塊 end -->
                                    <!-- TAB2 打包區塊 start -->
                                    <input id="tab2" type="radio" name="tab" />
                                    <label for="tab2">即將上映</label>
                                    <div class="tab_content">
                                        <div class="likeMovie" id="favorite">
                                            @{
                                                if (Model.MemberActionFuture.Count > 0)
                                                {
                                                    @foreach (var item in Model.MemberActionFuture)
                                                    {
                                                        <div class="movieCardBig2">
                                                            <article class="movieCard">
                                                                <a href="/MovieFront/MovieDetails?id=@item.FMovieId">
                                                                    <br>
                                                                    <figure>
                                                                        <img src="~/@item.FMovie.FPosterPath" alt="">
                                                                    </figure>
                                                                    <div>
                                                                        <h3 class="moviecardH3">@item.FMovie.FNameCht</h3>
                                                                        <ul>
                                                                            <li class="movieEnglishName">@item.FMovie.FNameEng</li>
                                                                            <hr>
                                                                            <li>上映日期：@item.FMovie.FScheduleStart.ToString("yyyy/MM/dd")</li>
                                                                            <li>片長：@item.FMovie.FShowLength 分鐘</li>
                                                                        </ul>
                                                                    </div>
                                                                </a>
                                                            </article>
                                                            <div class="likeAndBuy">

                                                                <div><a class="buyNow" style="cursor: no-drop;background-color:#5B5B5B">Buy Now</a></div>
                                                                <div>
                                                                    <p id="heart" style="color:#FF2D2D" onclick="cancelFavorite()" data-movie-id="@item.FMovieId">❤</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="movieCardBig3">
                                                        <div>
                                                            <h3 class="favoriteNull"></h3>
                                                            <h5 class="favoriteNullUsed"></h5>
                                                        </div>
                                                    </div>
                                                    <div class="movieCardBig3">
                                                        <div>
                                                        <h3 class="favoriteNull">尚無收藏電影</h3>

                                                        <h5 class="favoriteNullUsed">快將喜歡的電影加入收藏！</h5>
                                                        </div>
                                                    </div>
                                                }

                                            }

                                        </div>

                                    </div>
                                    <!-- TAB2 打包區塊 end -->
                                    <!-- TAB3 打包區塊 start -->
                                    <input id="tab3" type="radio" name="tab" />
                                    <label for="tab3">已下檔</label>
                                    <div class="tab_content">
                                        <div class="likeMovie">
                                            @{
                                                if (Model.MemberActionExpired.Count > 0)
                                                {
                                                    @foreach (var item in Model.MemberActionExpired)
                                                    {
                                                        <div class="movieCardBig2">
                                                            <article class="movieCard">
                                                                <a href="/MovieFront/MovieDetails?id=@item.FMovieId">
                                                                    <br>
                                                                    <figure>
                                                                        <img src="~/@item.FMovie.FPosterPath" alt="">
                                                                    </figure>
                                                                    <div>
                                                                        <h3 class="moviecardH3">@item.FMovie.FNameCht</h3>
                                                                        <ul>
                                                                            <li class="movieEnglishName">@item.FMovie.FNameEng</li>
                                                                            <hr>
                                                                            <li>上映日期：@item.FMovie.FScheduleStart.ToString("yyyy/MM/dd")</li>
                                                                            <li>片長：@item.FMovie.FShowLength 分鐘</li>
                                                                        </ul>
                                                                    </div>
                                                                </a>
                                                            </article>
                                                            <div class="likeAndBuy">

                                                                <div><a class="buyNow" style="cursor: no-drop;background-color:#5B5B5B">Buy Now</a></div>
                                                                <div>
                                                                    <p id="heart" style="color:#FF2D2D" onclick="cancelFavorite()" data-movie-id="@item.FMovieId">❤</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="movieCardBig3">
                                                        <div>
                                                            <h3 class="favoriteNull"></h3>
                                                            <h5 class="favoriteNullUsed"></h5>
                                                        </div>
                                                    </div>
                                                    <div class="movieCardBig3">
                                                        <div>
                                                            <h3 class="favoriteNull">尚無收藏電影</h3>

                                                            <h5 class="favoriteNullUsed">快將喜歡的電影加入收藏！</h5>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            


                                        </div>
                                        
                                    </div>
                                    <!-- TAB3 打包區塊 end -->
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        const heart=document.querySelector("#heart");
        const favorite=document.querySelector('#favorite');

        function cancelFavorite() {
            var memberId = @Model.Member.FMemberId;
            var movieId = document.getElementById('heart').getAttribute('data-movie-id');
            
            $.ajax({
                url: '/memberFront/favoriteCancel',
                type: 'POST',
                data: { FMemberId: memberId, FMovieId: movieId },
                success: function (response) {
                    // 成功處理回應的程式碼
                    // 例如，重新載入喜愛清單
                    alert('取消收藏成功')
                    location.reload();

                },
                error: function (xhr, status, error) {
                    // 處理錯誤的程式碼
                    alert('失敗')
                }
            });
        }

    </script>
}
