@model prjMovieHolic.Models.TMember
@{
    ViewData["Title"] = "memberList";
}

<input type="hidden" value="@Model.FMemberId" />
<div id="page2">
    <div class="body1">
        <div class="body3">
            <div class="main">
                <!-- content -->
                <section id="content">
                    <div class="line1 wrapper">
                        <div class="wrapper tabs memCut">
                            <article class="memberMenu">
                                <h3 style="font-size:20px">歡迎，@Model.FName</h3>
                                <hr />
                                <div class="pad">
                                    <ul class="nav">
                                        <li class="selected"><a>會員資料</a></li>
                                        <li>@Html.ActionLink("資料修改", "memberEdit","memberFront",new { id=Model.FMemberId },null)</li>
                                        <li>@Html.ActionLink("更改密碼", "passwordEdit","memberFront",new { id=Model.FMemberId },null)</li>
                                        <li>@Html.ActionLink("訂單查詢", "orderList","memberFront",new { id=Model.FMemberId },null)</li>
                                        <li>@Html.ActionLink("我的收藏", "favoriteList","memberFront",new { id=Model.FMemberId },null)</li>
                                        <li>@Html.ActionLink("我的優惠券", "couponList","memberFront",new { id=Model.FMemberId },null)</li>
                                        <li><a href="#Advertising">我的評論</a></li>
                                        <li>@Html.ActionLink("登出", "memberLogout","memberFront",null,new{onclick="return confirm('確認要登出嗎?')"})</li>
                                    </ul>
                                </div>
                            </article>
                            <div class="memberInformation">
                                @*<input type="hidden" value="@Model.FMemberId" />*@
                                <table class="memberTable">
                                    <tr>
                                        <th>會員等級</th>
                                        <td>@Model.FMembership.FMembershipName</td>
                                    </tr>
                                    <tr>
                                        <th>登入帳號</th>
                                        <td>@Model.FPhone</td>
                                    </tr>
                                    <tr>
                                        <th>姓名</th>
                                        <td>@Model.FName</td>
                                    </tr>
                                    <tr>
                                        <th>暱稱</th>
                                        <td>@Model.FNickname</td>
                                    </tr>
                                    <tr>
                                        <th>性別</th>
                                        <td>@Model.FGender.FGenderName</td>
                                    </tr>
                                    <tr>
                                        <th>身分證字號</th>
                                        <td>@Model.FIdcardNumber</td>
                                    </tr>
                                    <tr>
                                        <th>生日</th>
                                        <td>@Model.FBirthDate.ToString().Substring(0,9)</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>@Model.FEmail</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>