@model prjMovieHolic.Models.TMember
@{
    ViewData["Title"] = "memberList";
}

<input type="hidden" value="@Model.FMemberId" />
<div id="page2">
    <div class="body1">
        <div class="body3">
            <div class="main">
                <!-- content -->
                <section id="content">
                    <div class="line1 wrapper">
                        <div class="wrapper tabs memCut">
                            <article class="memberMenu">
                                <h3 style="font-size:20px">歡迎，@Model.FName</h3>
                                <hr />
                                <div class="pad">
                                    <ul class="nav">
                                        <li>@Html.ActionLink("資料修改", "memberEdit","memberFront",new { id=Model.FMemberId },null)</li>
                                        <li>@Html.ActionLink("更改密碼", "passwordEdit","memberFront",new { id=Model.FMemberId },null)</li>
                                        <li><a href="#Wedding">訂單查詢</a></li>
                                        <li><a href="#Reportage">我的最愛</a></li>
                                        <li><a href="#Advertising">我的優惠券</a></li>
                                        <li><a href="#Advertising">我的評論</a></li>
                                        <li><a href="#Portrait">登出</a></li>
                                    </ul>
                                </div>
                            </article>
                            <div class="memberInformation">
                                @*<input type="hidden" value="@Model.FMemberId" />*@
                                <table class="memberTable">
                                    <tr>
                                        <th>會員等級</th>
                                        <td>@Model.FMembership.FMembershipName</td>
                                    </tr>
                                    <tr>
                                        <th>姓名</th>
                                        <td>@Model.FName</td>
                                    </tr>
                                    <tr>
                                        <th>生日</th>
                                        <td>@Model.FBirthDate.ToString().Substring(0,9)</td>
                                    </tr>
                                    <tr>
                                        <th>電話</th>
                                        <td>@Model.FPhone</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>@Model.FEmail</td>
                                    </tr>
                                    <tr>
                                        <th>性別</th>
                                        <td>@Model.FGender.FGenderName</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>