
@{
    ViewData["Title"] = "MovieHolic 會員登入";
}


@Html.AntiForgeryToken()
<div id="page2">
    <div class="body1">
        <div class="body3">
            <div class="main">
                <!-- content -->
                <section id="content">
                    <div class="line1 wrapper">
                        <div class="logInBox">
                            <h3 style="font-size:20px">會員登入</h3>
                            <hr>
                            <div class="logInBoxSmall">
                                <form asp-action="memberLogin" id="yourForm">
                                <h6>帳號</h6>
                                    <input type="text" name="txtAccount" id="txtAccount" value="" placeholder="請輸入註冊時的電話號碼">
                                <h6>密碼</h6>
                                    <input type="password" name="txtPassword" id="txtPassword" value="">
                                    <br />
                                    <input type="checkbox" name="" id="displayPassword"><label style="font-size:15px" for="displayPassword">顯示密碼</label>
                                    <span> @Html.ActionLink("忘記密碼？","forgetPassword","memberFront")   </span>
                                    <hr />
                                @*<input type="checkbox" name="" id=""><span>保持登入</span>*@
                                    <a href=""><input class="loginButton" type="submit" id="submit" value="登入" /></a>
                                    <input class="ourButton" type="button" id="loginDemo" value="Demo" />
                                    <input class="ourButton" type="button" id="loginDemo2" value="D日常用" />
                                    <input class="ourButton" type="button" id="loginDemo3" value="Demo2" />
                                <hr>
                                    <p>————————OR————————</p>
                                </form>
                                <hr>
                                <hr>
                                <span>還不是會員嗎？</span>@Html.ActionLink("註冊會員","memberSignUp","memberFront")
                                <hr>
                                <a href=""><img src="~/images/icons8-facebook-48.png" alt=""></a>
                                <a href=""><img src="~/images/icons8-twitter-circled-48.png" alt=""></a>
                                <a href=""><img src="~/images/icons8-google-plus-48.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<dialog id="IamDialog" class="IamDialog">
    <p>登入成功</p>
    <button id="closeDialog" class="closeDialog">確定</button>
</dialog>
<dialog id="IamDialogFail" class="IamDialog">
    <p>您輸入的帳號或密碼錯誤，請重新輸入</p>
    <button id="closeDialogFail" class="closeDialog">確定</button>
</dialog>

@section Scripts{
    <script>
        const txtAccount = document.querySelector('#txtAccount');
        const txtPassword=document.querySelector('#txtPassword');
        const submit = document.querySelector('#submit');
        const loginDemo=document.querySelector('#loginDemo');
        const loginDemo2 = document.querySelector('#loginDemo2');
        const loginDemo3 = document.querySelector('#loginDemo3');

        const formdialog = document.getElementById('IamDialog');
        const btnCloseDialog = document.getElementById('closeDialog');
        const formdialogFail = document.getElementById('IamDialogFail');
        const btnCloseDialogFail = document.getElementById('closeDialogFail');


        submit.addEventListener('click', async () => {

            const response = await fetch(`@Url.Content("~/memberFront/IsLogin")?txtAccount=` + txtAccount.value + "&txtPassword=" +txtPassword.value, { method: 'POST' })
            const data = await response.json();
            console.log(data)
            if (!data.success) {
                // 登入失敗
                alert('您輸入的帳號或密碼錯誤，請重新輸入')
            }
        })

        //btnCloseDialog.addEventListener('click', async () => {
        //    // 提交表單資料到 Controller
        //    const form = document.querySelector('#yourForm');
        //    const formData = new FormData(form);

        //    const response = await fetch('@Url.Content("~/memberFront/memberLogin")', {
        //        method: 'POST',
        //        // 設定適當的 headers 和 body，包含需要傳遞的資料
        //        body: formData,


        //    });
        //    var controller = '@(ViewBag.Controller)';
        //    var view = '@(ViewBag.View)';
        //    console.log(controller);
        //    console.log(view);
        //    // 關閉 <dialog>
        //    formdialog.close();

        //    var url = '/' + controller + '/' + view;
        //    window.location.href = url;
            

        //});

        const displayPassword=document.getElementById('displayPassword');
        displayPassword.addEventListener('click',()=>{
            if(txtPassword.getAttribute('type')==='password'){
             txtPassword.setAttribute('type','text')
            }
            else{
                txtPassword.setAttribute('type', 'password')
            }
            
        })


        loginDemo.addEventListener('click', function () {
            txtAccount.value = '0923906031';
            txtPassword.value = '8M43Td24';
        })
        loginDemo2.addEventListener('click', function () {
            txtAccount.value = '0923906031';
            txtPassword.value = 'Xpe49cFb';
        })
        loginDemo3.addEventListener('click', function () {
            txtAccount.value = '0921038101';
            txtPassword.value = 'JN462c69';
        })



    </script>
}