@model prjMovieHolic.ViewModels.CMovieFrontViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="position" >
    <p>快速訂票</p>
    <select name="" id="">
        <option value="">選擇電影</option>
        <option value="">電影名稱電影名稱</option>
        <option value="">基本上只能塞九個字</option>
        <option value="">不然會變形喔</option>
    </select>
</div>


<div id="page2">
    <div class="body1">
        <div class="body3">
            <div class="main">
                <!-- content -->
                <div class="wrapper">
                    <div class="moviePage">
                        <div class="posterPlace">
                            <img src="~/@Model.tMovie.FPosterPath" alt="">
                            <hr /><hr /><hr /><hr /><hr />
                            <div class="niniImagesPlace"></div>
                        </div>
                        <div class="movie">
                            <div class="fiveStar">
                                <div>
                                    <img src="~/images/movieRatings/class0.gif" />
                                    <img src="~/images/movieRatings/class0.gif" />
                                    <img src="~/images/movieRatings/class0.gif" />
                                    <img src="~/images/movieRatings/class0.gif" />
                                    <img src="~/images/movieRatings/class0.gif" />
                                </div>
                                <h3>3.7/5.0</h3>
                            </div>
                                
                            <h3>@Model.tMovie.FNameCht</h3>
                            <h4>@Model.tMovie.FNameEng</h4>
                            <div class="somethingAboutMovie">
                                <ul>
                                    <li class="fatLi">級　別</li>
                                    <li><img src="~/@Model.tMovie.FRating.FImagePath" alt="">　@Model.tMovie.FRating.FNameCht</li>
                                </ul>
                                <ul>
                                    <li class="fatLi">片　長</li>
                                    <li>@Model.tMovie.FShowLength　分鐘</li>
                                </ul>
                                <ul>
                                    <li class="fatLi">上映日</li>
                                    <li>@Model.tMovie.FScheduleStart.ToString("yyyy/MM/dd")</li>
                                </ul>
                                <ul>
                                    <li class="fatLi">類　型</li>
                                    <li>
                                        <a href=""> @Model.TypeListNames</a>                                        
                                    </li>
                                </ul>
                                <ul>
                                    <li class="fatLi">演　員</li>
                                    <li>@Model.ActorListNames</li>
                                </ul>
                                <ul>
                                    <li class="fatLi">導　演</li>
                                    <li>@Model.DirectorListNames</li>
                                </ul>
                            </div>
                            <div class="movieIntroduce">
                                <ul>
                                    <li class="fatLi">簡　介</li>
                                    <li id="">
                                        @Model.tMovie.FInteroduce
                                    </li>
                                </ul>
                                <input class="myButton" type="button" value="更多／更少">
                            </div>
                        </div>
                    </div>
                    <div class="myBr"></div>
                    <div class="hotMoviePlaceLine">
                        <ul class="hotMoviePlaceLineMenu">
                            <li style="font-size: 26px;">預告片</li>
                        </ul>
                    </div>
                    <div>
                        <iframe class="video" width="921" height="497" src="@Model.tMovie.FTrailerLink"
                                title=@Model.tMovie.FNameCht frameborder="0" allow="accelerometer; autoplay;
                                clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


                        <div class="myBr"></div>

                        <div class="hotMoviePlaceLine">
                            <ul class="hotMoviePlaceLineMenu">
                                <li style="font-size: 26px;">評論</li>
                            </ul>
                        </div>
                        <div class="myBr"></div>
                        <div class="commentPlace">
                            <h3>安妮雅</h3>
                            <div><h4>星星之所在</h4></div>
                            <b>會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論</b>
                        </div>

                        <div class="commentPlace">
                            <h3>安妮雅</h3>
                            <div><h4>星星之所在</h4></div>
                            <b>會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論</b>
                        </div>

                        <div class="commentPlace">
                            <h3>安妮雅</h3>
                            <div><h4>星星之所在</h4></div>
                            <b>會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論會員的評論</b>
                        </div>




                </div>
            </div>
        </div>
    </div>
</div>
