@model prjMovieHolic.Models.TArticle

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TArticle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FTimeCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTimeCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FTimeEdited)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTimeEdited)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FBlockJson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FBlockJson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FIsPublic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FIsPublic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMember)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMember.FMemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMovie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMovie.FId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FArticleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
