@model IEnumerable<prjMovieHolic.Models.TArticle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
}
    <div class="table">
        <div class="articles">
            <h2>顯示文字</h2>
            <div class="articleCards">
                <div class="articleCardsA">
                    <ul>
                        <li>置中</li>
                        <li>置中</li>
                    </ul>
                </div>
                <div class="articleCardsA">
                    <ul>
                        <li>置中</li>
                        <li>置中</li>
                    </ul>
                </div>
                <div class="articleCardsB">
                <a href=""><h3>標題</h3></a>
                    <!--這裡P的部分應該會需要一個判斷式，長度超過多長後面不顯示加上"..."之類的-->
                    <p>內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字......</p>
                    <p><a href="">評論者名稱</a>  |  <a href="">日期</a></p>
                </div>
            </div>
            <div class="articleCards">
                <div class="articleCardsA">
                    <ul>
                        <li>置中</li>
                        <li>置中</li>
                    </ul>
                </div>
                <div class="articleCardsA">
                    <ul>
                        <li>置中</li>
                        <li>置中</li>
                    </ul>
                </div>
                <div class="articleCardsB">
                <a href=""><h3>標題</h3></a>
                    <!--這裡P的部分應該會需要一個判斷式，長度超過多長後面不顯示加上"..."之類的-->
                    <p>內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字......</p>
                    <p><a href="">評論者名稱</a>  |  <a href="">日期</a></p>
                </div>
            </div>
            <div class="articleCards">
                <div class="articleCardsA">
                    <ul>
                        <li>置中</li>
                        <li>置中</li>
                    </ul>
                </div>
                <div class="articleCardsA">
                    <ul>
                        <li>置中</li>
                        <li>置中</li>
                    </ul>
                </div>
                <div class="articleCardsB">
                <a href=""><h3>標題</h3></a>
                    <!--這裡P的部分應該會需要一個判斷式，長度超過多長後面不顯示加上"..."之類的-->
                    <p>內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字......</p>
                    <p><a href="">評論者名稱</a>  |  <a href="">日期</a></p>
                </div>
            </div>
            <div class="articleCards">
                <div class="articleCardsA">
                    <ul>
                        <li>置中</li>
                        <li>置中</li>
                    </ul>
                </div>
                <div class="articleCardsA">
                    <ul>
                        <li>置中</li>
                        <li>置中</li>
                    </ul>
                </div>
                <div class="articleCardsB">
                <a href=""><h3>標題</h3></a>
                    <!--這裡P的部分應該會需要一個判斷式，長度超過多長後面不顯示加上"..."之類的-->
                    <p>內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字......</p>
                    <p><a href="">評論者名稱</a>  |  <a href="">日期</a></p>
                </div>
            </div>
            <div class="articleCards">
                <div class="articleCardsA">
                    <ul>
                        <li>置中</li>
                        <li>置中</li>
                    </ul>
                </div>
                <div class="articleCardsA">
                    <ul>
                        <li>置中</li>
                        <li>置中</li>
                    </ul>
                </div>
                <div class="articleCardsB">
                <a href=""><h3>標題</h3></a>
                    <!--這裡P的部分應該會需要一個判斷式，長度超過多長後面不顯示加上"..."之類的-->
                    <p>內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字......</p>
                    <p><a href="">評論者名稱</a>  |  <a href="">日期</a></p>
                </div>
            </div>


        </div>
        <div class="sidebar">
            <div class="sideH3 sidebarTop1"><h3>輸入標題</h3></div>     
            <div class="sidebarTop">                           
                <ul>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                </ul>
            </div>
            <div class="sideH3"><h3>輸入標題</h3></div>
            <div class="sidebarTop">                                
                <ul>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                </ul>
            </div>
            <div class="sideH3"><h3>輸入標題</h3></div>    
            <div class="sidebarTop">                            
                <ul>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                </ul>
            </div>
            


        </div>



    </div>
@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FTimeCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FTimeEdited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FBlockJson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FIsPublic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FMovie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FTimeCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FTimeEdited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FBlockJson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FIsPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FMember.FMemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FMovie.FId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FArticleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FArticleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FArticleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@