@model prjMovieHolic.Models.TMovie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TMovie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FNameCht)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FNameCht)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FNameEng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FNameEng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FScheduleStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FScheduleStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FScheduleEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FScheduleEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FShowLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FShowLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FInteroduce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FInteroduce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FTrailerLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTrailerLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPosterPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPosterPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FRating.FId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FSeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FSeries.FId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
