@model IEnumerable<prjMovieHolic.Models.TMovie>

@{
    ViewData["Title"] = "ViewSession";
    Layout = "~/Views/Shared/BackLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FNameCht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FNameEng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FScheduleStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FScheduleEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FShowLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FInteroduce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FTrailerLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPosterPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FSeries)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FNameCht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FNameEng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FScheduleStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FScheduleEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FShowLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FInteroduce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FTrailerLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FPosterPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FRating.FId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FSeries.FId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
